<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
		<!-- <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
			<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
			<property name="url" value="jdbc:mysql://localhost:3306/mldnjdbc"/>
			<property name="username" value="root"/>
			<property name="password" value="mysqladmin"/>
		</bean> -->
		<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
			<property name="driverClass" value="${db.driverClass}"/>
			<property name="jdbcUrl" value="${db.jdbcUrl}"/>
			<property name="user" value="${db.user}"></property>
			<property name="password" value="${db.password}"></property>
			<property name="maxPoolSize" value="${db.maxPoolSize}"/><!-- 设置最大连接 -->
			<property name="initialPoolSize" value="${db.initialPoolSize}"/><!--初始化连接大小  -->
			<property name="minPoolSize" value="${db.minPoolSize}"/><!--最小连接数  -->
			<property name="maxIdleTime" value="${db.maxIdleTime}"/><!--最大等待时间  -->
		</bean>
		<context:component-scan base-package="cn.mldn.myspring"/>
</beans>
